
html, body {
    background-color: black;
}
/* Header */
.Header{
    height: 50px;
    color:white;
    font-size: x-large;
    background-color: red;
    display:flex;
    justify-content: space-between;
    position:fixed;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.nav-link {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color:white !important
}
/* Home Page */
.FirstName{
    color:white
}
.LastNameText{
    color:red;
    line-height: 0px;
    font-size:60px;
}
.FirstNameText{
    color:white;
    font-size:60px;
}
.HomeName{
    padding-top: 55px;
    text-align: center;
    background-color: black;
    padding-bottom: 70px;
}

.Footer {
    color: white;
    background-color: red;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* margin-left: auto;
    margin-right: auto; */
    height: 50px;
    font-size: x-large;

}

img{
    width: 30%;
    height: auto;
    border-color: white;
    border-style: solid;
    border-style:inherit;
    border-radius: 50%;
    height:100%;
    object-fit:cover;
}
.full-stack{
    padding-top: 35px;
    color:white;
    font-size:60px;
}
.about-me{
    background-color: black;
    color:white;
    padding-top: 100px;
    text-align: center;
    font-size: larger;
    padding-left: auto;
    padding-right: auto;
    width: auto
}

/* p {
    width: 50%;
} */
